/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
  background-image: linear-gradient(green,#fff);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 2rem;
    font-family: cursive;
}

span{
    font-size: 1rem;
}

button{
    background-color:#000;
    color: #fff;
    padding: 0.2rem .7rem;
    margin: 10px;
}